<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Link CSS -->
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <!-- Link JS -->
    <!--<script type="text/javascript" src="js/product.js"></script>-->
    <!-- Fonts Google -->
    <link href="https://fonts.googleapis.com/css?family=Jomhuria&display=swap" rel="stylesheet">
</head>
<body>
    <div>
    <div id="feedback"></div>
        <div class="row">
            <!--Lớp-->
            <div class="col-12">
            <button class="btn btn-outline-danger" id="getLop">List Nhân Viên</button>
            </br>
                <input id="tennhanvien" type="text" placeholder="Nhập tên nhân viên" />
             
                <input id="tuoi" type="number" placeholder="Nhập tuổi" />
                <input id="gioiTinh" type="number" placeholder="Nhập Giới Tính" />
              
                <input id="address" type="number" placeholder="Nhập Địa Chỉ" />
                <input id="soPhone" type="number" placeholder="Nhập Số Điện Thoại" />
                
                <input id="Email" type="number" placeholder="Nhập Email" />
                <button class="btn btn-outline-danger" id="addNhanvien">Thêm Nhân Viên</button>
                </br>
                <form class="form-horizontal" id="search-form">
            <div class="form-group form-group-lg">
                <label class="col-sm-2 control-label">Name:</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="username"/>
                </div>
            </div>
            <div class="form-group form-group-lg">
                <label class="col-sm-2 control-label">Address:</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="address"/>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" id="bth-search"
                            class="btn btn-primary btn-lg">Search
                    </button>
                </div>
            </div>
        </form>
                <div class="show">
                    <table class="table table-hover" id="tableShow1">
                        <tr>
                            <th>Mã Nhân Viên</th>
                            <th>Tên Nhân Viên</th>
                            <th>Tuổi</th>
                            <th>Giới Tính</th>
                            <th>Address</th>
                            <th>Số Điện Thoại</th>
                            <th>Email</th>
                        </tr>
                    </table>
                </div>
            </div>  
        </div>      
    </div>
    <script>
        //GET LỚP
        $(document).ready(function () {
            $("#getLop").click(function () {
                $.ajax({ url: "http://localhost:8080/apii/listnhanvien" })
                    .then(function (data) {
                    	$.each(data, function (i, item){
                    		var $tr = $('<tr>').append(
                                    $('<td>').text(item.maNv),
                                    $('<td>').text(item.tenNv),
                                    $('<td>').text(item.tuoi),
                                    $('<td>').text(item.gioiTinh),
                                    $('<td>').text(item.address),
                                    $('<td>').text(item.soPhone),
                                    $('<td>').text(item.email)
                                ).appendTo('#tableShow1');
                    	});
                        

                    });
            });
        });
        
    </script>
    <script type="text/javascript" src="js/main.js"></script>
</body>
</html>